@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* Reset and base style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  caret-color: transparent;
}

body {
  font-family: "VT323", monospace;
  color: #ffffff;
  background: #000000;
  line-height: 1.6;
}

/* Header & Nav */
header {
  border-bottom: 1px solid rgb(0, 255, 47);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.welcome-img {
  align-self: center;

}

.welcome {
  font-family: "VT323", monospace;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;   /* remove underline */
  display: block;
  width: 100vw;
  white-space: nowrap;
  font-size: 12vw;         /* fills most of the screen width */
  line-height: 1;
  overflow: hidden;
  transition: color 0.2s ease, text-shadow 0.2s ease;
}
.welcome:hover {
  color: rgb(47, 255, 0)
}


p {
  color:rgb(255, 255, 255);
}

.pageheader {
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.textbox {
  text-align: center;
  font-size: 1rem;
}

/* Text logo */
.logo-text {
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
}

/* Image logo */
.logo-img img {
  align-self: center;
  height: 15rem; /* adjust for your design */
  padding: none;
  width: auto;
}


/* Mobile menu toggle */
#menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
}

@media (max-width: 700px) {

  #menu-toggle {
    display: block;
  }
}

/* Grid previews */
.grid-preview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 2rem;
}

.preview-card {
  background: rgb(0, 0, 0);
  padding: 1rem 1rem;
  border-radius: 1px;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: #ffffff;
  border: 2px solid rgb(109, 109, 109);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.preview-card:hover {
  transform: translateY(-4px);
  /*box-shadow: 0 4px 12px rgb(47, 255, 0);*/
  color:rgb(47, 255, 0);
  border-color: rgb(47, 255, 0);
}

/* Footer */
footer {
  text-align: center;
  padding: 2rem;
  font-size: 0.9rem;
  color: #ffffff;
}
